<div class="row justify-content-center">
    <div class="col-auto">
        <div class="card bg-dark text-black ">
            <img class="card-img" src="images/moon.jpg" alt="Card image">
            <div class="card-img-overlay">
                <div class="card">
                    <h1 class="card-header">Mars image browser</h1>
                    <div class="card-body">
                        <h5 class="card-title">Browse NASA Mars images and save yor preferred ones.</h5>

                        <a class="btn btn-primary " href="#SubmitingModal" data-bs-toggle="modal"
                           data-bs-target="#SubmitingModal">
                            About me
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="SubmitingModal" tabindex="-1" role="dialog" aria-labelledby="Label"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="Label">Personal Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                Amit Ein-Dor <br>
                eindor13@gmail.com <br>
                <a href="https://www.linkedin.com/in/amit-ed/">LinkedIn</a> <br>
                <a href="https://github.com/amit-ed">GitHub</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>