<h3 class="text-uppercase text-center mb-5"><%= message %></h3>
<h2 class="text-uppercase text-center mb-5 text-light"><%= title %></h2>
<div class="alert alert-primary" role="alert" id="error"hidden="hidden"></div>
