<%- include('messages.ejs') %>
<form action="/login" method="POST" id="passwordForm">

    <label for="password">New Password</label><br>
    <input type="password" name="password" id="password"
           class="form-control form-control-lg" placeholder="type here"
           pattern="/^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,}$/g"
           title="password should only english letters amd numbers" required>
    <br>
    <label for="password2">Verify Password</label><br>
    <input type="password" name="password2" id="password2"
           class="form-control form-control-lg" placeholder="type here"
           pattern="/^[a-zA-Z0-9!@#\$%\^\&*_=+-]{8,}$/g"
           title="password should include 8 characters and only english letters or numbers" required>

    <br>
    <div class="d-flex justify-content-center">
        <button type="submit" value="submit" class="btn btn-success bg-dark text-white btn-lg gradient-custom-4">
            Register
        </button>
    </div>

    <input type="hidden" id='email' name="email" value="<%= email %>">
    <input type="hidden" id='firstname' name="firstName" value="<%= firstname %>">
    <input type="hidden" id='lastname' name="lastName" value="<%= lastname %>">
</form>