<%- include('messages.ejs') %>

<form action="/register" method="POST">
    <div class="d-flex justify-content-center">
        <button type="submit" value="submit" class="btn btn-success bg-dark text-white btn-lg gradient-custom-4">
            Click Here To Register</button>
    </div>

</form>
<br>
<form action="/login" method="GET">
    <div class="d-flex justify-content-center">
        <button type="submit" value="submit" class="btn btn-success bg-dark text-white btn-lg gradient-custom-4">
            Click Here To Login</button>
    </div>

</form>

